<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User Login</title>
     <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    
    <header>
        <div>
            <h1>User Login</h1>
        </div>
    </header>
    
    {{{body}}}
    
    <footer>
        <div>
            <p><br><br><br><br><br><br></p>

            {{#if user}}
            <a href="/logout">Logout</a>
             {{/if}}
        </div>
           
    </footer>
</body>
</html>