

<div id="form_div">

<form method="post" id="myForm">
<label id = "labelID"> Enter a Phrase: </label>
    <input type="text" name="phrase" id="palindrome" required>
    <button id="button1" type="submit">Submit</button>
</form>
</div>

<div id="error" class ="error" hidden></div>

<div class="form-group hidden" id="errorDiv">
    <div class="alert alert-danger text-goes-here">
    </div>
</div>

<div class="attempts">
    <ol id="list"></ol>
</div>

<footer>
	<div class="information">
		Name: Shweta Singh, 
        Student_ID: 10457493, 
        Email Id -ssingh59@stevens.edu
	</div>
</footer>